In [102]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [103]:
df=pd.read_csv('netflix_dataset.csv')
df.shape

(8807, 12)

In [104]:

df.shape
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [105]:
#lets find out the null values in the above dataset 
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

## Null value handling

In [106]:
#here in the dataframe in many rows the director name is missing and other columns have 
#missing cast and country name #very few date and duration is missing

#HERE IF THE NULL VALUE IS PART OF NUMERICAL COLUMNS THEN WE CAN FILL IT 
#BUT HERE WE CAN'T FILL IT 
#SO WE HAVE TO REMOVE THEM 

#LETS REMOVE THE NULL VALUES 
df.dropna(inplace=True)

In [107]:
df.shape #shape= (5332,12) after removing the null values

(5332, 12)

# Duplicate value handling

In [108]:
df.duplicated().sum() #There are no duplicate rows present in the dataset

0

In [109]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

# Lets standardize the columns

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   object
 1   type          5332 non-null   object
 2   title         5332 non-null   object
 3   director      5332 non-null   object
 4   cast          5332 non-null   object
 5   country       5332 non-null   object
 6   date_added    5332 non-null   object
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   object
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   object
 11  description   5332 non-null   object
dtypes: int64(1), object(11)
memory usage: 541.5+ KB

In [111]:
df['date_added']
#DATE FORMAT IS MONTH DATE , YEAR 
#WE HAVE TO EXTRACT THE MONTH NAME ,DATE AND YEAR 
#AND WE HAVE TO CONVERT IT INTO THE DATE DATA TYPE

7       September 24, 2021
8       September 24, 2021
9       September 24, 2021
12      September 23, 2021
24      September 21, 2021
               ...
8801         March 9, 2016
8802     November 20, 2019
8804      November 1, 2019
8805      January 11, 2020
8806         March 2, 2019
Name: date_added, Length: 5332, dtype: object

In [112]:
#first convert the date data type from object to date 
# df['date_added']=pd.to_datetime(df['date_added'])
#their are extra spaces so we have to remove them 
df['date_added']=df['date_added'].str.strip()

In [113]:
#lets try to do the conversion of this column
df['date_added']=pd.to_datetime(df['date_added'])

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   object
 1   type          5332 non-null   object
 2   title         5332 non-null   object
 3   director      5332 non-null   object
 4   cast          5332 non-null   object
 5   country       5332 non-null   object
 6   date_added    5332 non-null   datetime64[ns]
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   object
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   object
 11  description   5332 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 541.5+ KB

In [115]:
#we have successfully converted the datatype
#lets handle the other columns as well
df['country'].value_counts().index
#their are 604 countries

Index(['United States', 'India', 'United Kingdom', 'Canada', 'Spain', 'Egypt',
       'Nigeria', 'Japan', 'Turkey', 'Indonesia',
       ...
       'United Kingdom, Hungary, Australia',
       'United States, South Korea, Japan', 'Spain, United Kingdom',
       'Canada, Norway', 'France, Senegal, Belgium', 'Uruguay, Guatemala',
       'Romania, Bulgaria, Hungary', 'Philippines, United States',
       'India, United Kingdom, Canada, United States',
       'United Arab Emirates, Jordan'],
      dtype='object', name='country', length=604)

In [116]:
df.head()
#here country contains the name of country where the tv show or movie is released 
#many have single values and some of them have list of countries(multiple countries )
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   object
 1   type          5332 non-null   object
 2   title         5332 non-null   object
 3   director      5332 non-null   object
 4   cast          5332 non-null   object
 5   country       5332 non-null   object
 6   date_added    5332 non-null   datetime64[ns]
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   object
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   object
 11  description   5332 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 541.5+ KB

In [117]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [118]:
#lets convert the release_year columns datatype 
df['release_year']=pd.to_numeric(df['release_year'])

<H3> Here as we can see that the some columns have multiple values in a row </h3>
<h5> eg. cast, country, listed_in columns have this problem. Lets convert them into the list of values from the object datatype </h5>

In [119]:
df['cast']=df['cast'].str.split(', ') #because it is a object datatype

In [120]:
df['country']=df['country'].str.split(', ')

In [121]:
df['listed_in']=df['listed_in'].str.split(', ')

In [122]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra ...","[United States, Ghana, Burkina Faso, United Ki...",2021-09-24,1993,TV-MA,125 min,"[Dramas, Independent Movies, International Mov...","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"[Mel Giedroyc, Sue Perkins, Mary Berry, Paul H...",[United Kingdom],2021-09-24,2021,TV-14,9 Seasons,"[British TV Shows, Reality TV]",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"[Melissa McCarthy, Chris O'Dowd, Kevin Kline, ...",[United States],2021-09-24,2021,PG-13,104 min,"[Comedies, Dramas]",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"[Luna Wedler, Jannis Niewöhner, Milan Peschel,...","[Germany, Czech Republic]",2021-09-23,2021,TV-MA,127 min,"[Dramas, International Movies]",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"[Prashanth, Aishwarya Rai Bachchan, Sri Lakshm...",[India],2021-09-21,1998,TV-14,166 min,"[Comedies, International Movies, Romantic Movies]",When the father of the man she loves insists t...

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   object
 1   type          5332 non-null   object
 2   title         5332 non-null   object
 3   director      5332 non-null   object
 4   cast          5332 non-null   object
 5   country       5332 non-null   object
 6   date_added    5332 non-null   datetime64[ns]
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   object
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   object
 11  description   5332 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 541.5+ KB

In [124]:
#lets change the name of some column header 
#listed_in --> genre (because it is more suitable)
df.rename({'listed_in':'genre'},inplace=True,axis=1)

In [125]:
#lets do the labelling  on the data because we can't process the textual data into the model
df.head()
#so we have done all the data cleaning here

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
7,s8,Movie,Sankofa,Haile Gerima,"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra ...","[United States, Ghana, Burkina Faso, United Ki...",2021-09-24,1993,TV-MA,125 min,"[Dramas, Independent Movies, International Mov...","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"[Mel Giedroyc, Sue Perkins, Mary Berry, Paul H...",[United Kingdom],2021-09-24,2021,TV-14,9 Seasons,"[British TV Shows, Reality TV]",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"[Melissa McCarthy, Chris O'Dowd, Kevin Kline, ...",[United States],2021-09-24,2021,PG-13,104 min,"[Comedies, Dramas]",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"[Luna Wedler, Jannis Niewöhner, Milan Peschel,...","[Germany, Czech Republic]",2021-09-23,2021,TV-MA,127 min,"[Dramas, International Movies]",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"[Prashanth, Aishwarya Rai Bachchan, Sri Lakshm...",[India],2021-09-21,1998,TV-14,166 min,"[Comedies, International Movies, Romantic Movies]",When the father of the man she loves insists t...

<h4> After data cleaning we have to change all the categories into label and the text into the vectors </h4>
<h4> But here in the exercise their is no mention so that's why i am not doing it </h4>

In [126]:
#first get all the unique movie_type
df['type'].head(20)
df['type'].value_counts().index
#but their is no need because we are not currently training the model
#if we have to train the model then 
# we have to convert all the categories and text into the numbers

Index(['Movie', 'TV Show'], dtype='object', name='type')

In [127]:
# like as follows 
d={'Movie':0,'TV Show':1}
# then do mapping or labelling
df['type']=df['type'].map(d)

In [128]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
7,s8,0,Sankofa,Haile Gerima,"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra ...","[United States, Ghana, Burkina Faso, United Ki...",2021-09-24,1993,TV-MA,125 min,"[Dramas, Independent Movies, International Mov...","On a photo shoot in Ghana, an American model s..."
8,s9,1,The Great British Baking Show,Andy Devonshire,"[Mel Giedroyc, Sue Perkins, Mary Berry, Paul H...",[United Kingdom],2021-09-24,2021,TV-14,9 Seasons,"[British TV Shows, Reality TV]",A talented batch of amateur bakers face off in...
9,s10,0,The Starling,Theodore Melfi,"[Melissa McCarthy, Chris O'Dowd, Kevin Kline, ...",[United States],2021-09-24,2021,PG-13,104 min,"[Comedies, Dramas]",A woman adjusting to life after a loss contend...
12,s13,0,Je Suis Karl,Christian Schwochow,"[Luna Wedler, Jannis Niewöhner, Milan Peschel,...","[Germany, Czech Republic]",2021-09-23,2021,TV-MA,127 min,"[Dramas, International Movies]",After most of her family is murdered in a terr...
24,s25,0,Jeans,S. Shankar,"[Prashanth, Aishwarya Rai Bachchan, Sri Lakshm...",[India],2021-09-21,1998,TV-14,166 min,"[Comedies, International Movies, Romantic Movies]",When the father of the man she loves insists t...

In [129]:
#lets do the same with the another columns that have categories 
#lets extract the unique country names 
unique_country=list()
for i in df['country'].values:
    for j in i:
        if j not in unique_country:
            unique_country.append(j)

In [130]:
len(unique_country) #113 countries lets convert them in to the labels

113

In [131]:
countries=dict()
for i,c in enumerate(unique_country):
    countries[c]=i

In [132]:
countries #successfully given label to countries

{'United States': 0,
 'Ghana': 1,
 'Burkina Faso': 2,
 'United Kingdom': 3,
 'Germany': 4,
 'Ethiopia': 5,
 'Czech Republic': 6,
 'India': 7,
 'France': 8,
 'China': 9,
 'Canada': 10,
 'South Africa': 11,
 'Japan': 12,
 'Nigeria': 13,
 'Spain': 14,
 'Australia': 15,
 'Mexico': 16,
 'Italy': 17,
 'Romania': 18,
 'Argentina': 19,
 'Venezuela': 20,
 'Hong Kong': 21,
 'Nepal': 22,
 'New Zealand': 23,
 'Brazil': 24,
 'Greece': 25,
 'Colombia': 26,
 'Switzerland': 27,
 'Taiwan': 28,
 'Bulgaria': 29,
 '': 30,
 'Algeria': 31,
 'Poland': 32,
 'Israel': 33,
 'Saudi Arabia': 34,
 'Thailand': 35,
 'Indonesia': 36,
 'Kuwait': 37,
 'Netherlands': 38,
 'Singapore': 39,
 'Egypt': 40,
 'Malaysia': 41,
 'South Korea': 42,
 'Vietnam': 43,
 'Belgium': 44,
 'Hungary': 45,
 'Lebanon': 46,
 'Syria': 47,
 'Philippines': 48,
 'United Arab Emirates': 49,
 'Denmark': 50,
 'Sweden': 51,
 'Qatar': 52,
 'Mauritius': 53,
 'Austria': 54,
 'Turkey': 55,
 'Russia': 56,
 'Cameroon': 57,
 'Ireland': 58,
 'United Kingdom,': 59,
 'Kenya': 60,
 'Chile': 61,
 'Cambodia': 62,
 'Bangladesh': 63,
 'Portugal': 64,
 'Cayman Islands': 65,
 'Norway': 66,
 'Iceland': 67,
 'Serbia': 68,
 'Malta': 69,
 'Luxembourg': 70,
 'Namibia': 71,
 'Angola': 72,
 'Uruguay': 73,
 'Peru': 74,
 'Mozambique': 75,
 'Cambodia,': 76,
 'Jordan': 77,
 'Zimbabwe': 78,
 'Guatemala': 79,
 'Senegal': 80,
 'Pakistan': 81,
 'Finland': 82,
 'Malawi': 83,
 'Paraguay': 84,
 'Iran': 85,
 'Albania': 86,
 'Soviet Union': 87,
 'Georgia': 88,
 'Morocco': 89,
 'Slovakia': 90,
 'Bermuda': 91,
 'Ecuador': 92,
 'Bahamas': 93,
 'Sri Lanka': 94,
 'Latvia': 95,
 'Liechtenstein': 96,
 'Nicaragua': 97,
 'Croatia': 98,
 'Poland,': 99,
 'Slovenia': 100,
 'Dominican Republic': 101,
 'West Germany': 102,
 'Iraq': 103,
 'Vatican City': 104,
 'Jamaica': 105,
 'Lithuania': 106,
 'Afghanistan': 107,
 'Somalia': 108,
 'Sudan': 109,
 'Panama': 110,
 'East Germany': 111,
 'Montenegro': 112}

In [133]:
#lets label the countries

def func(x):
    temp=list()
    for i in x:
        temp.append(countries[i])
    return temp

In [134]:
df['country']=df['country'].map(func)

In [135]:
df['country'] #successfully mapped

7       [0, 1, 2, 3, 4, 5]
8                      [3]
9                      [0]
12                  [4, 6]
24                     [7]
               ...
8801              [49, 77]
8802                   [0]
8804                   [0]
8805                   [0]
8806                   [7]
Name: country, Length: 5332, dtype: object

# Lets save it into the folder

In [136]:
df.to_csv('netflix_cleaned.csv')

In [137]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
7,s8,0,Sankofa,Haile Gerima,"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra ...","[0, 1, 2, 3, 4, 5]",2021-09-24,1993,TV-MA,125 min,"[Dramas, Independent Movies, International Mov...","On a photo shoot in Ghana, an American model s..."
8,s9,1,The Great British Baking Show,Andy Devonshire,"[Mel Giedroyc, Sue Perkins, Mary Berry, Paul H...",[3],2021-09-24,2021,TV-14,9 Seasons,"[British TV Shows, Reality TV]",A talented batch of amateur bakers face off in...
9,s10,0,The Starling,Theodore Melfi,"[Melissa McCarthy, Chris O'Dowd, Kevin Kline, ...",[0],2021-09-24,2021,PG-13,104 min,"[Comedies, Dramas]",A woman adjusting to life after a loss contend...
12,s13,0,Je Suis Karl,Christian Schwochow,"[Luna Wedler, Jannis Niewöhner, Milan Peschel,...","[4, 6]",2021-09-23,2021,TV-MA,127 min,"[Dramas, International Movies]",After most of her family is murdered in a terr...
24,s25,0,Jeans,S. Shankar,"[Prashanth, Aishwarya Rai Bachchan, Sri Lakshm...",[7],2021-09-21,1998,TV-14,166 min,"[Comedies, International Movies, Romantic Movies]",When the father of the man she loves insists t...

In [138]:
#lets do same as the country column with the genre column also
genre=list()
for i in df['genre']:
    for j in i:
        if j not in genre:
            genre.append(j)

In [139]:
genre
#lets give them label
d=dict()
for i,g in enumerate(genre):
    d[g]=i

In [140]:
d

{'Dramas': 0,
 'Independent Movies': 1,
 'International Movies': 2,
 'British TV Shows': 3,
 'Reality TV': 4,
 'Comedies': 5,
 'Romantic Movies': 6,
 'Horror Movies': 7,
 'Sci-Fi & Fantasy': 8,
 'Thrillers': 9,
 'Action & Adventure': 10,
 'Classic Movies': 11,
 'Anime Features': 12,
 'Children & Family Movies': 13,
 'Documentaries': 14,
 'Music & Musicals': 15,
 'Cult Movies': 16,
 'Faith & Spirituality': 17,
 'LGBTQ Movies': 18,
 'Crime TV Shows': 19,
 'International TV Shows': 20,
 'TV Dramas': 21,
 'Romantic TV Shows': 22,
 'Spanish-Language TV Shows': 23,
 'Stand-Up Comedy': 24,
 'TV Shows': 25,
 'Movies': 26,
 'TV Comedies': 27,
 'Sports Movies': 28,
 'TV Action & Adventure': 29,
 'TV Sci-Fi & Fantasy': 30,
 'TV Mysteries': 31,
 'Docuseries': 32,
 'Anime Series': 33,
 'TV Horror': 34,
 'Teen TV Shows': 35,
 'Korean TV Shows': 36,
 'Stand-Up Comedy & Talk Shows': 37,
 "Kids' TV": 38,
 'Classic & Cult TV': 39,
 'TV Thrillers': 40,
 'Science & Nature TV': 41}

In [141]:
def convert(x):
    temp=list()
    for i in x:
        temp.append(d[i])
    return temp

# convert(['Dramas'])
#lets do the mapping 
df['genre']=df['genre'].map(convert)

In [142]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
7,s8,0,Sankofa,Haile Gerima,"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra ...","[0, 1, 2, 3, 4, 5]",2021-09-24,1993,TV-MA,125 min,"[0, 1, 2]","On a photo shoot in Ghana, an American model s..."
8,s9,1,The Great British Baking Show,Andy Devonshire,"[Mel Giedroyc, Sue Perkins, Mary Berry, Paul H...",[3],2021-09-24,2021,TV-14,9 Seasons,"[3, 4]",A talented batch of amateur bakers face off in...
9,s10,0,The Starling,Theodore Melfi,"[Melissa McCarthy, Chris O'Dowd, Kevin Kline, ...",[0],2021-09-24,2021,PG-13,104 min,"[5, 0]",A woman adjusting to life after a loss contend...
12,s13,0,Je Suis Karl,Christian Schwochow,"[Luna Wedler, Jannis Niewöhner, Milan Peschel,...","[4, 6]",2021-09-23,2021,TV-MA,127 min,"[0, 2]",After most of her family is murdered in a terr...
24,s25,0,Jeans,S. Shankar,"[Prashanth, Aishwarya Rai Bachchan, Sri Lakshm...",[7],2021-09-21,1998,TV-14,166 min,"[5, 2, 6]",When the father of the man she loves insists t...

In [143]:
#here if we have to apply the clustering 
#then we have to do the following steps 
#first merge all the categorical column and textual columns like title,director,cast,rating,genre(without labelling),description
#and then we can convert it into the vector of the whle text then we can use it 
#and apply the clusterring algorithms